@charset "utf-8";
.navbar.navbar-expand-lg.navbar-dark.bg-dark #navbarSupportedContent1 {
    margin-left: 70%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;


}
.navbar.navbar-expand-lg.navbar-dark.bg-dark #navbarSupportedContent1 .navbar-nav.mr-auto {
    margin-right: -3px;
    margin-left: -237%;
}
.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-toggler .navbar-toggler-icon {
    margin-left: -6px;
}
